.btn {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    min-width: 50px;
    max-width: 230px;
    background: rgb(132,144,255);
    background: -moz-linear-gradient(90deg, rgba(132,144,255,1) 0%, rgba(98,188,252,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(132,144,255,1) 0%, rgba(98,188,252,1) 100%);
    background: linear-gradient(90deg, rgba(132,144,255,1) 0%, rgba(98,188,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8490ff",endColorstr="#62bcfc",GradientType=1);
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease 0.1s;    
}
    .btn:hover {
        box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
    }
    .btn.fa {
        padding: 10px 15px;
        max-width: 50px;
    }
  