.hero > h6 {
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 23px;
}
.hero > h1 {
    font-size: 33px;
    margin: 20px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}
.hero > p {
    font-size: 15px;
    line-height: 25px;color: #777;
    text-align: left;
    margin-bottom: 20px;
}
.hero > img {
    max-width: 100%;
    height: auto;
}
